div.bg{
    width: 100%;
    background-image: url(../../../Assets/Images/homepage_hero_2x.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center -63px;
    height: 800px;
    display: flex;
    flex-direction: column;
}
div.bg>header{
    width: 85%;
    position: fixed;
    left: 0;
    right: 0;
    top: 16px;
    border-radius: 16px;
    padding: 16px 48px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 16px 12px -10px rgba(60, 64, 67, .08);
    display: flex;
    align-items: center;
    z-index: 10000001;
}
div.bg>header>div.menu>div.rightside>nav>div>a>div.mega-menu{
    margin-top: 0px;
    margin-right: -100px;
    width: 1535px;
    padding: 40px 64px;
    height: 455px;
    background:linear-gradient(33.21deg,#e1f3ff 4.07%,#fff 64.37%);
    box-shadow: 0 16px 24px rgba(0,0,0,.04),0 8px 10px rgba(0,0,0,.08) !important;
    border-radius: 15px;
}
div.bg>header>div.menu>div.right-side>nav>div.first{
    width: 30%;
}
div.bg>header>div.menu>div.right-side>nav>div.first>a{
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.bg>header>div.menu{
    width: 100%;
    height: 35px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

div.bg>header>div.menu>div.rightside{
    width: 80%;
    height: 32px;
    display: flex;
    align-items: center;
}

div.bg>header>div.menu>div.rightside>div.logo{
    width: 8%;
    height: 30px;
    display: flex;
    align-items: center;
}
div.bg>header>div.menu>div.rightside>div.picture>img{
    width: 30px;
}

div.bg>header>div.menu>div.rightside>div.logo>a{
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 10px;
}

div.bg>header>div.menu>div.rightside>div.logo>a>div{
    width: 54px;
    height: 24px;
}


div.bg>header>div.menu>div.rightside>nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-right: 10px;
    margin-top: 10px;
}
div.bg>header>div.menu>div.rightside>nav>a{
    width: 25%;
    display: flex;
    flex-direction: row;
    
}
div.bg>header>div.menu>div.rightside>nav>a:nth-of-type(3){
    margin-right: 30px;
}
div.bg>header>div.menu>div.rightside>nav>a:nth-of-type(5){
    margin-right: 10px;
}
div.bg>header>div.menu>div.rightside>nav>a>p{
    color: black;
    align-self: flex-start;
    font-size: 15px;
    margin-right: 10px;
}
div.bg>header>div.menu>div.rightside>nav>a>p:hover{
    color: #008FFF;
}
div.bg>header>div.menu>div.left-side{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.bg>header>div.menu>div.left-side>div.support{
    width: 30%;
    display: flex;
    flex-direction: row;
}
div.bg>header>div.menu>div.left-side>div.support>button{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: none;
}
div.bg>header>div.menu>div.left-side>div.support>button>p{
    color: #008FFF;
    margin-right: 10px;
    margin-top: 2px;
}
div.bg>header>div.menu>div.left-side>div.register{
    width: 70%;
    margin-right: 50px;
}
div.bg>header>div.menu>div.left-side>div.register>button{
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #008FFF;
    color: #008FFF;
    border-radius: 18px;
}
